:root {
  --brand-color: #2e2f42;
  --primary-color: #434455;
  --second-color: #4d5ae5;
  --nice-color: #f4f4fd;
  --light-color: #e7e9fc;
}
body {
  font-family: Roboto, Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.info:active,
.info:focus {
  color: var(--second-color);
}

h1 {
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--brand-color);
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--brand-color);
  letter-spacing: -0.1rem;
}

.info {
  color: var(--primary-color);
}

.first,
.ended {
  background-color: var(--brand-color);
}

button {
  font-family: inherit;
  text-align: center;
  color: var(--second-color);
  border-radius: 4%;
  background-color: var(--nice-color);
}

button:hover {
  color: var(--nice-color);
  background-color: var(--second-color);
  cursor: pointer;
}

li {
  list-style-type: none;
}

p {
  font-weight: 400;
  color: var(--primary-color);
}
.team {
  text-align: center;
  background-color: #d9d9d9;
}

.ended .logo {
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--nice-color);
  letter-spacing: -0.1rem;
}

.web {
  color: var(--second-color);
}
.ended .idea {
  color: var(--light-color);
}
