:root {
  --brand-color: #2e2f42;
  --primary-color: #434455;
  --second-color: #4d5ae5;
  --nice-color: #f4f4fd;
  --light-color: #e7e9fc;
  --background-color: #d9d9d9;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.info:hover,
a:hover {
  color: var(--primary-color);
}

.info:active,
.info:focus,
a:active,
a:focus {
  color: var(--second-color);
}

.container {
  width: 1128px;
  margin: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 192px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--brand-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--brand-color);
  letter-spacing: 0.02em;
  display: block;
  margin-right: 77px;
}
.logo-menu {
  display: flex;
  justify-content: right;
  align-items: center;
}

.menu {
  margin-left: 0;
}
.menu li {
  padding: 24px 0;
  margin: 0 40px 0 0;
}

.menu li:last-child {
  margin-right: 0;
}

.address .info:first-child {
  margin-right: 40px;
}

.navigation {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.info {
  color: var(--primary-color);
}

.first,
.ended {
  display: flex;

  background-color: var(--brand-color);
}

.first-button {
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  margin-bottom: 192px;

  padding: 16px 32px 16px 32px;
  width: 170px;
  height: 51px;
  text-align: center;
  color: white;
  border-radius: 4%;
  border-color: var(--second-color);
  background-color: var(--second-color);
  font-size: 16px;
  line-height: 1.2;
}

.main-button {
  display: flex;
  justify-content: center;
}

.works-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 120px;
}

.works-photos img {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.main-button button {
  width: 88px;
  height: 48px;
  color: var(--second-color);
  background-color: var(--nice-color);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px, 16px, 8px, 16px;
  margin-right: 24px;
  margin-top: 96px;
}
.main-button button:hover {
  background-color: var(--second-color);
  color: white;
  cursor: pointer;
}

.about-our-work:last-child {
  margin-right: 0;
}

.about-our-work > .about-work {
  padding-top: 120px;
  width: 264px;
  margin: 24px;
}

.about-our-work {
  display: flex;
  justify-content: center;
}

.services {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.services li {
  margin-right: 24px;
}

.services li:last-child {
  margin-right: 0;
}

.team {
  padding-top: 120px;
  padding-bottom: 72px;
  background-color: var(--nice-color);
}

.our-photos {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-photos li {
  width: 264px;
  margin-right: 24px;
}

.our-photos li:last-child {
  margin-right: 0;
}

.our-work {
  display: flex;
  align-items: center;
}
.main-content {
  font-weight: 400;
  color: var(--primary-color);
  text-align: left;
}

.photo-card {
  background-color: #ffffff;
  margin-top: 0;
}

.ended .logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--nice-color);
  letter-spacing: 0.02em;
}

.web {
  color: var(--second-color);
}
.ended .idea {
  width: 264px;
  margin-top: 16px;
  color: var(--light-color);
}

.name {
  margin-bottom: 8px;
}

.ended .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: left;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 10px;
}
