:root {
  --brand-color: #2e2f42;
  --primary-color: #434455;
  --second-color: #4d5ae5;
  --nice-color: #f4f4fd;
  --light-color: #e7e9fc;
  --background-color: #d9d9d9;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.info:hover,
a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.info:active,
.info:focus,
a:active,
a:focus {
  color: var(--second-color);
}

h1 {
  font-weight: 600;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--brand-color);
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--brand-color);
  letter-spacing: 0.02em;
}

.info {
  font-family: inherit;
  color: var(--primary-color);
}

.first,
.ended {
  background-color: var(--brand-color);
}

.first-button {
  padding: 16px, 32px;
  width: 170px;
  height: 51px;
  text-align: center;
  color: white;
  border-radius: 4%;
  background-color: var(--second-color);
  font-size: 16px;
  line-height: 1.2;
}

.main-button button {
  width: 88px;
  height: 24px;
  color: var(--second-color);
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px, 16px, 8px, 16px;
}
.main-button button:hover {
  background-color: var(--second-color);
  color: white;
}

button:hover,
button:focus {
  color: var(--second-color);
  background-color: var(--nice-color);
  cursor: pointer;
}

.about-our-work,
.menu,
.main-button,
.works-photos,
.services,
.our-photos {
  list-style-type: none;
}

.main-content {
  font-weight: 400;
  color: var(--primary-color);
}
.team {
  text-align: center;
  background-color: var(--nice-color);
}

.ended .logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--nice-color);
  letter-spacing: 0.02em;
}

.web {
  color: var(--second-color);
}
.ended .idea {
  color: var(--light-color);
}

.navigation {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}
